.project-img {
  width: 30vw;
  /* height: fit-content; */
  height: 40vh;
  /* display: none; */
  border-radius: 20px;
  margin: 0;
}

.container {
  background-color: #191919;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 70vh;
  border-radius: 20px;
  display: flex;

  width: 95vw;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
}

.projects {
  display: flex;
  overflow-x: scroll;
}

.project {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.425);
  max-width: 60vw;
  height: 60vh;
  margin-left: 80px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  /* overflow-y: scroll; */
}

.project-title,
.brief {
  color: black;
}

.brief {
  text-align: left;
  /* overflow-y: scroll; */
}

.project:hover {
  padding: 20px;
  background-color: rgb(255, 255, 255);
  max-width: 60vw;
  height: 80vh;
  margin-left: 80px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 8px;
  transition: all 0.3s ease-in-out;
}

.button-container:hover {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.deploy,
.github {
  background-color: black;
  border-style: none;
  padding: 10px;
  border-radius: 5px;
}
