h1 {
  margin: 0;
}

.body {
  height: 100vh;
  transition: all 0.2s ease-in-out;
}

.hero-box {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  max-width: 90%;
  transition: all 0.2s ease-in-out;
}

.title,
.name {
  font-size: 2.2em;
  line-height: 160%;
  letter-spacing: 1.5px;
}

.sub-title {
  font-size: 1.2em;
  line-height: 30%;
  font-weight: 300;
}
.name {
  font-size: 3.5em;
}
