.nav {
  padding: 2rem;
}

.list {
  list-style-type: none;
  margin: 0px;
  display: flex;
  justify-content: flex-end;
  max-width: 90%;
}

li {
  display: inline;
  padding-left: 100px;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: white;
}
